<div class="navbar-container">
    <div class="navbar">
        <nav routerLink="home" routerLinkActive="active">
            HOME
        </nav>
        <nav routerLink="products" routerLinkActive="active">
            PRODUCTS
        </nav>
    
        <img class="logo-full" src="icons/antidote-logo-full.svg" alt="">
    
        <div class="spacer"></div>
    
        <nav routerLink="about" routerLinkActive="active">
            ABOUT US
        </nav>
        <nav routerLink="contact" routerLinkActive="active">
            CONTACT
        </nav>
    </div>
</div>