.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px;
    padding-inline: 40px;

    display: flex;
    z-index: 11;
    align-items: center;
    font-size: 1vw;
}

.main-logo {
    min-width: 7vw;
    width: 7vw;
    margin-inline: auto;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0.3vw;
    padding-inline: 0.8vw;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    outline: 1.5px solid rgb(48, 48, 48);
    cursor: pointer;

    .dots-container {
        position: relative;
        width: 0.8vw;
        aspect-ratio: 1/1;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;
        // background-color: red;

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.31vw;
            aspect-ratio: 1/1;
            transform: translate(0, -50%);
            background-color: white;
            border-radius: 100%;
        }

        .c-1 {
            left: 0%;
        }

        .c-2 {
            left: auto;
            right: 0%;
        }
    }

    &:hover {
        .dots-container {
            transform: rotate(180deg);
        }
    }
}