.projects {
    position: absolute;
    width: 100vw;
    padding-inline: 60px;
    transition: all var(--transition-time) ease-in-out;
    transform: translateX(0);
    opacity: 1;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all var(--transition-time) ease-in-out;
        transform: translateX(0);

        .title {
            font-size: 5.5vw;
        }

        .description {
            font-size: 1.2vw;
            margin-right: 40px;
        }
    }

    .items-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        transition: all calc(var(--transition-time) * 2) ease-in-out;
        transform: translateX(0);

        .item {
            width: calc(50% - 30px);
            opacity: 0;
            transform: translateY(-15px);
            transform: scale(0.95);
            cursor: pointer;

            .illustration {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                aspect-ratio: 16/9;
                background-color: blueviolet;
                border-radius: 25px;
                margin-bottom: 20px;
                overflow: hidden;

                img {   
                    width: 150%;
                }
            }

            .tags {
                font-size: 0.9vw;
            }

            .title {
                font-size: 2vw;
            }
        }

        .select-hover-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.9);
            width: 100px;
            height: 100px;
            background-color: transparent;
            mix-blend-mode: exclusion;
            opacity: 0;
            transition: all 0.15s ease-in-out;
        }

        .select-hover {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 100%;
            mix-blend-mode: exclusion;
        }

        .arrow-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50% !important;
            transform: translate(-50%, -50%) scale(0.8);
        }

        .item:hover .select-hover-container {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        .item-active {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.fader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: lolo .7s ease-in-out forwards;
}

@keyframes lolo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.anim-fader {
    display: block;
    animation: lala var(--transition-time) ease-in-out forwards;
}

@keyframes lala {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.anim {
    opacity: 0;

    .fader {
        display: block;
    }

    .heading {
        transform: translateX(-300px);
    }

    .items-grid {
        transform: translateX(-400px);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.projects:not(.anim) {
    animation: slideInFromLeft var(--transition-time) ease-in-out;
}

.button {
    position: relative;
    width: fit-content;
    border: 1.5px solid white;
    padding: 15px;
    padding-inline: 40px;
    border-radius: 100px;
    font-size: 1.2vw;
    cursor: pointer;
    transition: all 0.10s ease-in-out;
    margin: auto;
    margin-top: 200px;
}