<canvas #warpCanvas></canvas>

<div class="title">
    <app-scrambler-text [duration]="100" [event]="displayText" [text]="'LET\'S GET'"></app-scrambler-text>
    <app-scrambler-text [delay]="800" [duration]="100" [event]="displayText" [text]="'IN TOUCH'"></app-scrambler-text>
</div>

<div class="links">
    <a href="mailto:hello@antidoteverse.com">
        <app-scrambler-text [delay]="1600" [duration]="50" [event]="displayText" [text]="'hello@antidoteverse.com'"></app-scrambler-text>
        <img src="icons/arrow-up-right-mini.svg" alt="" loading="lazy">
    </a>

    <a href="https://github.com">
        <app-scrambler-text [delay]="2600" [duration]="100" [event]="displayText" [text]="'Github'"></app-scrambler-text>
        <img src="icons/arrow-up-right-mini.svg" alt="" loading="lazy">
    </a>

    <a href="">
        <app-scrambler-text [delay]="3000" [duration]="100" [event]="displayText" [text]="'ArtStation'"></app-scrambler-text>
        <img src="icons/arrow-up-right-mini.svg" alt="" loading="lazy">
    </a>
    
    <a href="">
        <app-scrambler-text [delay]="3800" [duration]="100" [event]="displayText" [text]="'antidote.gems'"></app-scrambler-text>
        <img src="icons/arrow-up-right-mini.svg" alt="" loading="lazy">
    </a>
</div>

<div class="credits">
    <p>© 2025 Antidote Studio</p>

    <div>
        <p>Built by Antidote with</p>
        <img src="icons/heart.svg" alt="">
    </div>
</div>