<div [ngStyle]="generateStyleVariables()" class="planet-container">
    <div class="wrapper">
        <div class="p-background"></div>

        <div [ngStyle]="generatePrimaryGradient(animPercentage)" class="p-color-2"></div>
        <div [ngStyle]="generateSecondaryGradient(animPercentage)" class="p-color-1"></div>

        @if(hasRings) {
            @for(ring of RINGS_CONFIG; track ring; let i = $index) {
                <div [ngStyle]="getRingStyles(ring)" class="rings">
                    <div class="ring-left"></div>
                </div>
                <div [ngStyle]="getRingStyles(ring, true)" class="rings">
                    <div class="ring-right"></div>
                </div>
            }
        }

        <div [ngStyle]="updateMask(animPercentage)" class="p-mask"></div>
    </div>
</div>