// Mixins
@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin ring-base {
    width: var(--width);
    height: var(--height);
    border: var(--border-width) solid var(--border-color);
    filter: blur(var(--blur));
    box-sizing: border-box;
  }
  
  @mixin planet-base {
    position: absolute;
    width: var(--base-size);
    height: var(--base-size);
    border-radius: 100%;
    filter: blur(10px);
    z-index: 1;
  }
  
  @mixin rings-base {
    --width: calc((var(--base-size) * 1.8) + var(--offset));
    --height: calc(((var(--base-size) * 1.8 + var(--offset)) / 2));
    @include absolute-center;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%) rotate(25deg) perspective(4000px) rotateX(var(--perspectiveY)) rotateY(var(--perspectiveX));
  }
  
  // Component styles
  .planet-container {
    position: relative;
    width: var(--wanted-size);
    height: var(--wanted-size);
    transform: perspective(400px);
    display: flex;
    align-items: center;
    justify-content: center;
    contain: all;
  }
  
  .wrapper {
    position: absolute;
    display: block;
    width: var(--base-size);
    height: var(--base-size);
    transform: scale(var(--scale));
  }
  
  .planet {
    @include planet-base;
  }
  
  .p-background {
    @include planet-base;
    scale: 0.95;
  }
  
  .p-color-1 {
    @include planet-base;
  }
  
  .p-color-2 {
    @include planet-base;
    filter: blur(3px);
  }
  
  .p-mask {
    @include planet-base;
  }
  
  .rings {
    @include rings-base;
  
    .ring {
      position: absolute;
      left: 50%;
      @include ring-base;
      transform: translate(-50%, -100%);
    }
  
    .ring-left {
      position: absolute;
      left: 50%;
      @include ring-base;
      transform: translate(-50%, -100%);
      top: 50%;
      border-top-left-radius: var(--height);
      border-top-right-radius: var(--height);
      border-bottom: 0;
    }
  
    .ring-right {
      position: absolute;
      left: 50%;
      @include ring-base;
      transform: translate(-50%, -100%);
      top: calc(50% + var(--height)) !important;
      border-bottom-left-radius: var(--height);
      border-bottom-right-radius: var(--height);
      border-top: 0;
    }
  }