<div class="desktop-projects" [ngStyle]="{'--transition-time': TRANSITION_TIME_MILLISECOND + 'ms'}">
    <div [ngClass]="{'anim': animateSliding}" class="projects">

        @if(hideTexts == false) {
            <div class="heading">
                <p class="title">OUR PROJECTS</p>
    
                <div>
                    <p class="description">A SELECTION OF</p>
                    <p class="description">OUR MOST LOVED</p>
                    <p class="description">AND PASSIONATE WORK</p>
                </div>
            </div>
        }

        <div class="items-grid">
            @for (project of displayedProjects; track $index) {
            <div #tracking (mousemove)="updateImagePerspective($event, $index)"
                (mouseleave)="resetImagePerspective($index)" (click)="openProject($index)" class="item">

                <div class="illustration">
                    <div class="blur"></div>
                    <img class="project-thumbnail" [ngStyle]="{'transform': transformStyles[$index]}" [src]="project.thumbnail" [alt]="project.title" loading="lazy">

                    <div class="select-hover-container">
                        <div class="select-hover"></div>
                        <img class="arrow-icon" src="icons/arrow.svg" alt="" loading="lazy">
                    </div>
                </div>

                <p class="tags">{{ project.tags }}</p>
                <p class="title">{{ project.title }}</p>
            </div>
            }
        </div>

        @if(hideTexts == false) {
            <div (click)="navigateTo('/projects')" class="button">
                <span>SEE ALL PROJECTS</span>
            </div>
        }
    </div>
</div>

<div class="mobile-projects">
    <p class="m-heading">PROJECTS</p>
    <p class="m-subheading">A SELECTION OF OUR MOST LOVED AND PASSIONATE WORK.</p>

    @for (project of displayedProjects; track $index) {
        <div #tracking class="item" (click)="openProject($index)">
            <div class="illustration">
                <img class="project-thumbnail" [src]="project.thumbnail" [alt]="project.title" loading="lazy">
            </div>
    
            <p class="tags">{{ project.tags }}</p>
            <p class="title">{{ project.title }}</p>
        </div>
    }

    @if(hideTexts == false) {
        <div (click)="navigateTo('/projects')" class="mobile-button">
            <span>SEE ALL PROJECTS</span>
        </div>
    }
</div>
