<div class="landing">
    <p class="title">DISCOVER OUR PRODUCTS</p>
    <p class="subtitle">We offer a large collection of services. Either you an independent or larger companies.</p>

    <p class="subtitle2">ALSO VISIT US ON</p>

    <div class="extensions-container">
        @for (item of extensions; track $index) {
            <div [style.--color]="item.color" class="extension">
                <img [src]="item.logoPath" alt="">
        
                <p class="description">{{item.description}}</p>
                <a class="link" [href]="item.url" target="_blank">VISIT HERE</a>
            </div>
        }
    </div>
</div>

<div class="wrapper">
    <div class="container">
        
    </div>
</div>