@media (max-width: 768px) {
    .navbar {
        display: none !important;
    }

    .navbar-mobile {
        display: flex !important;
        padding: 25px !important;
    }

    .main-logo {
        width: 100px !important;
        left: 25px !important;
        transform: none !important;
    }

    nav {
        font-size: 5vh !important;
        margin-left: 25px !important;
    }

    .navigation {
        gap: 10px !important;
    }
}

.mobile-btn-active {
    background-color: var(--white) !important;
    transform: rotate(90deg);

    .c {
        background-color: rgb(36, 35, 39) !important;
    }
}

.mobile-btn {
    width: 40px;
    height: 40px;
    background-color: rgb(36, 35, 39);
    border-radius: 100px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all .15s ease-in-out;

    .c {
        width: 7px;
        aspect-ratio: 1/1;
        background-color: var(--white);
        border-radius: 100px;
    }
}

.navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px;
    padding-inline: 40px;
    pointer-events: none;

    display: none;
    z-index: 21;
    align-items: center;
    font-size: 1.8vh;

    > * {
        pointer-events: auto;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px;
    padding-inline: 40px;

    display: flex;
    z-index: 21;
    align-items: center;
    font-size: 1.8vh;
}

.main-logo {
    position: absolute;
    min-width: 12vh;
    width: 12vh;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1vh;
    padding-inline: 1.8vh;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    outline: 1.5px solid rgb(48, 48, 48);
    cursor: pointer;
    margin-left: auto;

    .dots-container {
        position: relative;
        width: 0.8vw;
        aspect-ratio: 1/1;
        border-radius: 100%;
        transition: all 0.2s ease-in-out;
        
        * {
            transition: all 0.2s ease-in-out;
        }

        .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.31vw;
            aspect-ratio: 1/1;
            transform: translate(0, -50%);
            background-color: white;
            border-radius: 100%;
        }

        .c-1 {
            left: 0%;
        }

        .c-2 {
            left: auto;
            right: 0%;
        }

        .close-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1vh;
            aspect-ratio: 1/1;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
    }

    &:hover {
        .dots-container {
            transform: rotate(180deg);
        }
    }
}

.dots-container-close {
    transform: rotate(180deg);

    .circle {
        opacity: 0;
    }

    .close-icon {
        opacity: 1 !important;
        transform: translate(-50%, -50%) scale(1) !important;
    }
}

.navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #00000039;
    backdrop-filter: blur(30px);
    opacity: 0;
    pointer-events: none;

    z-index: 10;
    transition: opacity .6s ease-in-out;

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;

        .nav-container {
            display: flex;
            flex-direction: column;
            width: fit-content;
            
            .line {
                width: 0%;
                height: 2px;
                background-color: var(--white);
                transition: all 0.15s ease-in-out;
                margin-left: auto;
            }

            .line-active {
                width: 100% !important;
            }

            nav {
                font-size: 6vh;
                cursor: pointer;
                width: fit-content;
                margin-left: 30vw;
            }

            .fake-nav {
                position: relative;
                color: transparent;
                overflow: hidden;
            }

            .real-nav {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: var(--white);
            }

            .real-nav-show {
                opacity: 0;
                animation: lala 0.4s ease-in-out forwards;
            }

            .real-nav-hide {
                animation: lala2 0.15s ease-in-out forwards;
            }

            &:hover {
                .line {
                    width: 20%;
                }
            }
        }
    }
}

@keyframes lala {
    from {
        top: 90px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes lala2 {
    from {
        top: 0px;
        opacity: 1;
    }

    to {
        top: -50px;
        opacity: 0;
    }
}

.navigation-menu-show {
    opacity: 1;
    pointer-events: all;
}