<app-scrollbar [scrollPosition]="scrollPosition" [numberOfPage]="12"></app-scrollbar>

<app-star-exposure 
    [ngStyle]="{
        'opacity': currentPageIndex >= 2 && currentPageIndex <= 5 ? 0 : 1,
    }" 
    [targetOffset]="getPositionForPage(0, 100, 10)"
></app-star-exposure>

<div class="canvas">
    <div class="presented">
        <!-- PLANETS-1 -->
        @if(currentPageIndex < 3) {
            <div [ngStyle]="updatePlanet()" class="planets-1">
                <app-planet-gen 
                    [animPercentage]="getPositionForPage(0, 100, 1)" 
                    [planetSize]="screenHeight * 0.7" 
                    [primaryColor]="'#4239ac'"
                    [secondaryColor]="'#00E0FF'"
                    [hasRings]="true"
                    [hasPerspective]="true"
                    class="planet-1"
                ></app-planet-gen>
    
                <app-planet-gen 
                    [ngStyle]="moveByMouseOffset('sat-1', 0.3)"
                    [animPercentage]="getPositionForPage(0, 100, 1)" 
                    [planetSize]="screenHeight * 0.18" 
                    [primaryColor]="'#697c90'"
                    [secondaryColor]="'#269ac0'"
                    class="planet-1-satellite-1"
                ></app-planet-gen>
    
                <app-planet-gen 
                    [ngStyle]="moveByMouseOffset('sat-2', 0.1)"
                    [animPercentage]="getPositionForPage(0, 100, 1)" 
                    [planetSize]="screenHeight * 0.1" 
                    [primaryColor]="'#51598b'"
                    [secondaryColor]="'#2f1a94'"
                    class="planet-1-satellite-2"
                ></app-planet-gen>
            </div>
        }

        <!-- Landing Title -->
        <div class="landing-title">
            <div>
                <p [ngStyle]="{
                    'width': getPositionForPage(32, 0, 2) + 'vh', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">CREATE</p>

                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">WITH</span>
            </div>

            <div>
                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">LOVE</span>

                <p [ngStyle]="{
                    'width': getPositionForPage(43, 0, 2) + 'vh', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">ANYTHING</p>
            </div>
        </div>

        <!-- Raining Stars -->
        <app-star-rain [scrollPosition]="scrollPosition"></app-star-rain>

        <!-- Projects Highlight -->
        <app-projects [ngStyle]="fixToPage(4)"></app-projects>

        <!-- PLANETS-2 -->
         @if(currentPageIndex >= 5) {
            <div [ngClass]="{'planets-2-hide': currentPageIndex >= 9}" [ngStyle]="{'opacity': getPositionForPage(0, 1, 5), 'top': getPositionForPage2(0, 50, [4, 10]) * -1 + 'vh'}" class="planets-2">
                <app-planet-gen 
                [animPercentage]="getPositionForPage(100, 0, 6)"  
                [planetSize]="screenHeight * 1.3" 
                [primaryColor]="'#636491'"
                [secondaryColor]="'#4253a3'"
                [hasRings]="true"
                class="planet-2"
            ></app-planet-gen>

            <app-planet-gen 
                [ngStyle]="{'bottom': getPositionForPage(0, 40, 6) + 'px'}"
                [animPercentage]="getPositionForPage(100, 0, 6)"  
                [planetSize]="screenHeight * 0.2" 
                [primaryColor]="'#636491'"
                [secondaryColor]="'#4253a3'"
                class="planet-2-satellite"
            ></app-planet-gen>
            </div>
        }

        <div class="sliding-text">
            <app-scrambler-text 
                [text]="'CRAFTING IDEAS \n TO UNIQUE \n EXPERIENCES'"
                [event]="currentPageIndex == 7"
                [ngStyle]="appearDisappear(7)"
                class="title"
            ></app-scrambler-text>

            <div [ngStyle]="appearDisappear(7)" class="paragraph">
                <app-scrambler-text 
                    [text]="'AT ANTIDOTE, WE TURN BOLD \n IDEAS INTO UNFORGETTABLE \n DIGITAL EXPERIENCES.'"
                    [event]="currentPageIndex == 7"
                    [duration]="10"
                ></app-scrambler-text>

                <app-scrambler-text 
                    [text]="'BLENDING CREATIVITY, INNOVATION, \n AND TECHNICAL EXPERTISE, WE CRAFT \n IMMERSIVE DIGITAL SOLUTIONS THAT \n THAT CAPTIVATE AND ENGAGE.'"
                    [event]="currentPageIndex == 7"
                    [duration]="10"
                ></app-scrambler-text>
            </div>
        </div>

        <div class="sliding-text">
            <app-scrambler-text 
                [text]="'WELCOME \n TO OUR \n VISION'"
                [event]="currentPageIndex == 8"
                [ngStyle]="appearDisappear(8)"
                class="title"
            ></app-scrambler-text>

            <app-scrambler-text
                [ngStyle]="appearDisappear(8)" class="paragraph" 
                [text]="'BLENDING CREATIVITY, INNOVATION, \n AND TECHNICAL EXPERTISE, WE CRAFT \n IMMERSIVE DIGITAL SOLUTIONS THAT \n THAT CAPTIVATE AND ENGAGE.'"
                [event]="currentPageIndex == 8"
                [duration]="10"
            ></app-scrambler-text>
        </div>

        <div [ngStyle]="stretch(9)" class="sliding-text-2">
            <p>BEYOND</p>
            <p>VISION</p>
        </div>

        <img [ngClass]="{'astronaut-show': currentPageIndex >= 9}" class="astronaut" src="images/astronaut.svg" alt="">

        <!-- CONTACT -->
        <div [ngStyle]="fixToPage(12)" class="contact">
            <img [ngStyle]="moveByMouseOffset('nebula', 0.3)" class="gradient-1" src="icons/nebula.svg" alt="">
            
            <div class="center-text">
                <div class="small-text">
                    <p>LET'S CHAT</p>
                    <p>LET'S CHAT</p>
                    <p>LET'S CHAT</p>
                </div>

                <p class="main">GET IN TOUCH</p>

                
                <div (click)="navigateTo('/contact')" class="connect-button">
                    <div>
                        LET'S CONNECT

                        <div class="line"></div>
                    </div>
                    <img src="icons/arrow-right.svg" alt="">
                </div>
            </div>

            <div class="footer">
                <img class="cross c3" src="icons/cool-cross.svg" alt="">
                <p class="credit">© 2025</p>
                
                <p>hello&#64;antidoteverse.com</p>
                <img class="cross c4" src="icons/cool-cross.svg" alt="">
            </div>
        </div>
    </div>
</div>