.fader {
    position: fixed;
    top: -10vh;
    left: -10vw;
    width: 120vw;
    height: 120vh;
    background-color: black;
    z-index: 21;
    opacity: 0;
    transition: all .15s ease-in-out;
    pointer-events: none;
}

.show {
    opacity: 1 !important;
    pointer-events: all;
}