.footer-container {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 1.5vw;
    padding: 50px;

    .cross {
        width: 1.5vw;
    }

    .credit {
        margin-right: auto;
    }
}