@media (max-width: 768px) {
    .title {
        left: 20px !important;
        font-size: 16.2vw !important;
        bottom: auto !important;
        top: 20vw !important;
    }

    .links {
        left: 25px !important;
        top: 70vw !important;
        right: auto !important;
        text-align: left !important;
        font-size: 5.2vw !important;

        img {
            display: none !important;
        }
    }

    .credits {
        font-size: 3vw !important;
        padding: 25px !important;

        .right-text {
            display: none;
        }
    }
}

* {
    box-sizing: border-box;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: black;
}

.title {
    position: absolute;
    font-size: 6.5vh;
    left: 30px;
    bottom: 70px;
}

.links {
    position: absolute;
    font-size: 28px;
    text-align: right;
    right: 30px;
    bottom: 90px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-size: 2.1vh;

    * {
        transition: all 0.15s ease-in-out;
    }

    a {
        position: relative;
        color: var(--white);
        text-decoration: none;
        overflow: hidden;
    }

    img {
        position: absolute;
        right: -30px;
        top: 11px;
    }

    a:hover {
        padding-right: 50px;

        img {
            right: 10px;
        }
    }
}

.credits {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vh;

    div {
        display: flex;
        gap: 8px;
    }

    img {
        width: 2vh;
        object-fit: contain;
    }
}