<div class="section">
    <img [ngStyle]="{'top': getPositionForPage(50, 40, 1) + '%'}" class="img-07" src="images/07.webp" alt="">
    <img class="img-02" src="images/02.webp" alt="">

    <div [ngStyle]="{'top': getPositionForPage(50, 100, 1) + '%'}" class="center-text">
        <div class="small-text">
            <p>LET'S CHAT</p>
            <p>LET'S CHAT</p>
            <p>LET'S CHAT</p>
        </div>
    
        <p class="main">RISING STAR</p>
    </div>
</div>

<div class="section">
</div>