$h1-size: 18vw;
$text-size: 18vw;

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: 13vw;
    font-weight: normal;
}

p {
    font-size: 4vw;
}

.m-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    * {
        overflow: hidden;
    }
}

.m-landing {
    display: flex;
    align-items: center;
    justify-content: center;

    &-title {
        text-align: center;
        font-size: $h1-size;
    }
}

.m-planets-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    .m-planet-1 {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-40%, -50%);
    }
    
    .m-planet-1-satellite-1 {
        position: absolute;
        left: 30vw;
        bottom: 10vh;
    }
}

.m-planets-2 {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    .m-planet-2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }

    .m-planet-2-satellite {
        position: absolute;
        left: 30vw;
        bottom: 10vh;
    }
}

.m-projects {
    height: fit-content;
}

.m-bio {
    height: 200vh;
    padding-top: 50px;
    padding-inline: 25px;
}

.m-exposure {
    .m-astronaut {
        position: absolute;
        width: 130%;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
    }
}

.m-contact {
    background-color: black;
    text-align: center;

    .m-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .m-nebula {
        position: absolute;
        width: 400vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        filter: blur(50px);

        animation: nebula-animation 30s ease-in-out infinite;
    }

    .m-connect-btn {
        display: flex;

        img {
            width: 20px;
            object-fit: contain;
            margin-left: 10px;
        }
    }

    .m-hider {
        position: absolute;
        top: 99vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
}

@keyframes nebula-animation {
    0% {
        transform: translate(-50%, -50%) perspective(500px) rotateX(30deg) rotateY(-30deg);
    }

    25% {
        transform: translate(-50%, -50%) perspective(500px) rotateX(-30deg) rotateY(30deg);
    }

    50% {
        transform: translate(-50%, -50%) perspective(500px) rotateX(0deg) rotateY(-10deg);
    }

    75% {
        transform: translate(-50%, -50%) perspective(500px) rotateX(0deg) rotateY(10deg);
    }

    100% {
        transform: translate(-50%, -50%) perspective(500px) rotateX(30deg) rotateY(-30deg);
    }
}