<div class="landing">
    <img class="gradient-1" src="icons/nebulla-2.svg" alt="">
    
    <div class="center-text">
        <div class="small-text">
            <p>WEB DESIGN</p>
            <p>3D RENDERS</p>
            <p>AND MORE</p>
        </div>

        <p class="main">OUR PROJECTS</p>
    </div>
</div>

<app-projects-preview [hideTexts]="true"></app-projects-preview>

<!-- <div class="items-grid">
    @for (project of PROJECTS; track $index) {
    <div #tracking (mousemove)="updateImagePerspective($event, $index)"
        (mouseleave)="resetImagePerspective($index)" (click)="openProject($index)" class="item">

        <div class="illustration">
            <div class="blur"></div>
            <img class="project-thumbnail" [ngStyle]="{'transform': transformStyles[$index]}" [src]="project.thumbnail" [alt]="project.title" loading="lazy">

            <div class="select-hover-container">
                <div class="select-hover"></div>
                <img class="arrow-icon" src="icons/arrow.svg" alt="">
            </div>
        </div>

        <p class="tags">{{ project.tags }}</p>
        <p class="title">{{ project.title }}</p>
    </div>
    }
</div> -->