.landing {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: black;

    .gradient-1 {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(50px);
    }

    .center-text {
        position: absolute;
        width: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .small-text {
            display: flex;
            justify-content: space-between;
        }

        .main {
            width: fit-content;
            font-size: 13vw;
            white-space: nowrap;
        }
    }
}