@font-face {
    font-family: 'JetBrains-Bold';
    src: url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-Medium';
    src: url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-Regular';
    src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-ExtraLight';
    src: url('/fonts/JetBrainsMono-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains-Light';
    src: url('/fonts/JetBrainsMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AbhayaLibre-ExtraBold';
    src: url('/fonts/AbhayaLibre-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #c0c2d1;
    --black: #000000;
}

* {
    box-sizing: border-box;
    user-select: none;
    scrollbar-width: none; /* Firefox */
    will-change: all;
    backface-visibility: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'JetBrains-Regular', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.h-align {
    align-items: center;
}

[style*="display: none"],
[hidden] {
  pointer-events: none !important;
  visibility: hidden !important;
  contain: layout style paint;
  will-change: opacity, transform;
  animation: none !important;
}