<div class="back-button" (click)="goBack()">
    <img src="icons/arrow-left.svg">

    GO BACK
</div>

<div class="carousel-container" (wheel)="onScroll($event)">
    <div #carousel class="carousel" [class.exiting]="isExiting">
        <div class="carousel-first-item">
            <div class="title">{{ project?.title }}</div>

            <div class="flex">
                <div class="section">
                    <p class="section-title">DESCRIPTION</p>

                    <p class="section-content">
                        {{ project?.description }}
                    </p>

                    <div class="button" (click)="visitWebsite()" *ngIf="project?.websiteUrl">VISIT WEBSITE</div>
                </div>

                <div>
                    <div style="margin-bottom: 25px;" class="section">
                        <p class="section-title">SERVICES</p>

                        <p class="section-content">
                            <ng-container *ngFor="let service of project?.services">
                                {{ service }}<br>
                            </ng-container>
                        </p>
                    </div>

                    <div class="section">
                        <p class="section-title">CLIENT</p>

                        <p class="section-content">
                            {{ project?.client }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        @for (media of project?.medias; track $index) {
            <div class="carousel-item">
                @if(media.type == 'image') {
                    <img [src]="media.url" [alt]="media.name">
                }
                
                @if(media.type == 'video') {
                    <video width="640" height="360" autoplay loop>
                        <source [src]="media.url" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                }
            </div>
        }
    </div>
</div>