<div class="canvas">
    <div class="presented">
        <svg style="will-change: transform;" [ngStyle]="updatePlanet()" width="1100" viewBox="0 0 1363 1024"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_226_538)">
                <circle cx="281.894" cy="743.125" r="80.85" transform="rotate(-58.6177 281.894 743.125)"
                    fill="url(#paint0_linear_226_538)" fill-opacity="0.6" />
            </g>
            <g filter="url(#filter1_f_226_538)">
                <ellipse cx="706.107" cy="569.46" rx="330" ry="330" transform="rotate(-58.8594 706.107 569.46)"
                    fill="url(#paint1_linear_226_538)" fill-opacity="0.6" />
            </g>
            <g filter="url(#filter2_f_226_538)">
                <path
                    d="M1273.85 752.888C1267.99 765.693 1249.61 776.803 1211.41 780.424C1174.45 783.927 1124.1 779.821 1063.49 768.202C942.489 745.007 783.845 692.521 616.493 616.032C449.142 539.544 305.637 453.934 208.917 377.62C160.465 339.391 124.411 304.006 102.873 273.765C80.6153 242.514 76.9836 221.34 82.8362 208.535C88.6888 195.73 107.076 184.62 145.271 180.999C182.232 177.496 232.583 181.602 293.196 193.221C414.195 216.416 572.839 268.902 740.19 345.391C907.542 421.879 1051.05 507.489 1147.77 583.803C1196.22 622.032 1232.27 657.417 1253.81 687.658C1276.07 718.909 1279.7 740.083 1273.85 752.888Z"
                    stroke="black" stroke-width="29" />
            </g>
            <g filter="url(#filter3_f_226_538)">
                <path
                    d="M1282.03 703.629C1274 721.213 1250.91 732.72 1212.26 736.383C1174.08 740.002 1122.78 735.732 1061.79 724.041C939.904 700.675 780.56 647.914 612.753 571.217C444.946 494.521 300.776 408.561 203.343 331.685C154.591 293.22 117.791 257.222 95.543 225.986C73.0227 194.366 66.6148 169.378 74.6516 151.794C82.6885 134.209 105.777 122.702 144.423 119.039C182.601 115.42 233.903 119.69 294.892 131.381C416.782 154.747 576.125 207.508 743.932 284.205C911.74 360.901 1055.91 446.861 1153.34 523.737C1202.09 562.203 1238.89 598.2 1261.14 629.437C1283.66 661.056 1290.07 686.044 1282.03 703.629Z"
                    stroke="black" stroke-width="11" />
            </g>
            <g filter="url(#filter4_f_226_538)">
                <path
                    d="M1257.59 827.649C1249.97 844.325 1227.84 854.919 1191.18 858.031C1154.94 861.109 1106.22 856.692 1048.32 845.281C932.594 822.473 781.176 771.922 621.572 698.975C461.968 626.028 324.656 544.614 231.678 472.034C185.161 435.723 149.94 401.775 128.547 372.353C106.913 342.599 100.441 318.932 108.063 302.256C115.684 285.581 137.815 274.986 174.471 271.874C210.718 268.797 259.436 273.213 317.334 284.624C433.06 307.432 584.478 357.983 744.082 430.93C903.686 503.878 1041 585.291 1133.98 657.871C1180.49 694.183 1215.71 728.131 1237.11 757.553C1258.74 787.306 1265.21 810.974 1257.59 827.649Z"
                    stroke="#1A1E24" stroke-width="8.8" />
            </g>
            <g filter="url(#filter5_f_226_538)">
                <path
                    d="M1288.48 840.838C1280.33 858.688 1256.98 870.217 1218.31 873.883C1180.06 877.508 1128.7 873.229 1067.7 861.534C945.756 838.158 786.373 785.382 618.541 708.674C450.708 631.966 306.501 545.987 209.029 469.079C160.261 430.601 123.418 394.569 101.131 363.278C78.5964 331.637 72.0343 306.437 80.1925 288.588C88.3507 270.738 111.7 259.209 150.371 255.543C188.617 251.918 239.972 256.197 300.981 267.892C422.921 291.267 582.303 344.044 750.136 420.752C917.969 497.46 1062.18 583.439 1159.65 660.346C1208.42 698.825 1245.26 734.856 1267.55 766.148C1290.08 797.789 1296.64 822.989 1288.48 840.838Z"
                    stroke="#1A1E24" stroke-width="10" />
            </g>
            <g filter="url(#filter6_f_226_538)">
                <path
                    d="M1229 814.037C1225.94 820.735 1219.62 826.271 1209.46 830.353C1199.27 834.446 1185.6 836.902 1168.64 837.613C1134.75 839.035 1088.85 833.444 1034.04 821.373C924.496 797.25 780.415 747.489 627.841 677.754C475.266 608.02 343.353 531.638 253.426 464.593C208.429 431.045 174.164 399.997 153.061 373.44C142.504 360.156 135.417 348.212 131.841 337.827C128.276 327.47 128.327 319.068 131.388 312.37C134.45 305.671 140.769 300.135 150.934 296.054C161.127 291.961 174.796 289.504 191.749 288.793C225.64 287.372 271.54 292.963 326.353 305.034C435.897 329.157 579.978 378.918 732.552 448.652C885.127 518.386 1017.04 594.769 1106.97 661.814C1151.96 695.361 1186.23 726.41 1207.33 752.966C1217.89 766.251 1224.98 778.194 1228.55 788.58C1232.12 798.937 1232.07 807.338 1229 814.037Z"
                    stroke="#070707" stroke-width="9.92" />
            </g>
            <g filter="url(#filter7_f_226_538)">
                <path
                    d="M1210.56 804.466C1207.8 810.506 1201.85 815.417 1192.14 818.887C1182.42 822.359 1169.34 824.222 1153.11 824.406C1120.68 824.772 1076.61 818.425 1023.92 805.968C918.606 781.07 779.643 731.96 632.055 664.504C484.466 597.049 356.394 524.111 268.648 460.769C224.748 429.079 191.112 399.913 170.165 375.149C159.684 362.759 152.533 351.647 148.797 342.025C145.064 332.411 144.89 324.704 147.65 318.665C150.411 312.625 156.352 307.714 166.065 304.244C175.785 300.772 188.867 298.909 205.095 298.725C237.527 298.359 281.593 304.706 334.284 317.163C439.6 342.061 578.563 391.171 726.151 458.626C873.74 526.082 1001.81 599.02 1089.56 662.362C1133.46 694.052 1167.09 723.218 1188.04 747.982C1198.52 760.372 1205.67 771.484 1209.41 781.106C1213.14 790.72 1213.32 798.427 1210.56 804.466Z"
                    stroke="#070707" stroke-width="7.92" />
            </g>
            <g filter="url(#filter8_f_226_538)">
                <ellipse cx="740.601" cy="499.099" rx="238.556" ry="344.041" transform="rotate(-58.8594 740.601 499.099)"
                    fill="black" />
            </g>
            <g filter="url(#filter9_f_226_538)">
                <ellipse cx="706.107" cy="569.46" rx="330" ry="330" transform="rotate(-58.8594 706.107 569.46)"
                    fill="url(#paint2_linear_226_538)" fill-opacity="0.5" />
            </g>
            <g filter="url(#filter10_f_226_538)">
                <ellipse cx="706.107" cy="569.46" rx="330" ry="330" transform="rotate(-58.8594 706.107 569.46)"
                    fill="url(#paint3_linear_226_538)" />
            </g>
            <g filter="url(#filter11_f_226_538)">
                <circle cx="281.894" cy="743.125" r="80.85" transform="rotate(-58.6177 281.894 743.125)"
                    fill="url(#paint4_linear_226_538)" fill-opacity="0.5" />
            </g>
            <g filter="url(#filter12_f_226_538)">
                <circle cx="281.894" cy="743.125" r="80.85" transform="rotate(-58.6177 281.894 743.125)"
                    fill="url(#paint5_linear_226_538)" />
            </g>
            <g filter="url(#filter13_f_226_538)">
                <circle cx="1244.39" cy="554.625" r="40.4705" transform="rotate(-58.6177 1244.39 554.625)"
                    fill="url(#paint6_linear_226_538)" fill-opacity="0.6" />
            </g>
            <g filter="url(#filter14_f_226_538)">
                <circle cx="1244.39" cy="554.625" r="40.4705" transform="rotate(-58.6177 1244.39 554.625)"
                    fill="url(#paint7_linear_226_538)" fill-opacity="0.5" />
            </g>
            <g filter="url(#filter15_f_226_538)">
                <circle cx="1244.39" cy="554.625" r="40.4705" transform="rotate(-58.6177 1244.39 554.625)"
                    fill="url(#paint8_linear_226_538)" />
            </g>
            <defs>
                <filter id="filter0_f_226_538" x="196.032" y="657.263" width="171.723" height="171.723"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter1_f_226_538" x="371.058" y="234.411" width="670.098" height="670.098"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter2_f_226_538" x="54.0213" y="153.489" width="1248.64" height="654.445"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter3_f_226_538" x="54.0223" y="100.489" width="1248.64" height="654.445"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter4_f_226_538" x="88.7835" y="254.722" width="1188.09" height="620.462"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter5_f_226_538" x="50.3179" y="227.791" width="1268.04" height="673.845"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="10.75" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter6_f_226_538" x="115.567" y="275.017" width="1129.26" height="576.373"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="4.3" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter7_f_226_538" x="129.803" y="282.75" width="1098.6" height="557.63"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="6" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter8_f_226_538" x="345.355" y="152.373" width="790.492" height="693.451"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="37.95" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter9_f_226_538" x="355.458" y="218.811" width="701.298" height="701.298"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter10_f_226_538" x="355.458" y="218.811" width="701.298" height="701.298"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter11_f_226_538" x="187.032" y="648.264" width="189.723" height="189.723"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter12_f_226_538" x="187.032" y="648.263" width="189.723" height="189.723"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter13_f_226_538" x="1198.92" y="509.149" width="90.9531" height="90.9526"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter14_f_226_538" x="1189.92" y="500.149" width="108.953" height="108.953"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_226_538" />
                </filter>
                <filter id="filter15_f_226_538" x="1189.92" y="500.149" width="108.953" height="108.953"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_226_538" />
                </filter>
                <linearGradient id="paint0_linear_226_538" x1="281.894" y1="662.275" x2="281.894" y2="823.975"
                    gradientUnits="userSpaceOnUse">
                    <stop [attr.offset]="getPositionForPage(0.9999, 0, 1)" stop-color="#4D88DA" />
                    <stop [attr.offset]="getPositionForPage(1, 0.851666, 1)" stop-color="#39CB82" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint1_linear_226_538" x1="706.107" y1="239.46" x2="706.107" y2="899.46"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#724DDA" />
                    <stop offset="0.816666" stop-color="#39B9CB" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint2_linear_226_538" x1="706.107" y1="239.46" x2="706.107" y2="899.46"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.9999" stop-color="#7544FF" />
                    <stop [attr.offset]="getPositionForPage(0.751666, 1, 1)" stop-color="#00E0FF" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint3_linear_226_538" x1="706.107" y1="239.46" x2="706.107" y2="899.46"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0" />
                    <stop [attr.offset]="getPositionForPage(0.861666, 0.0001, 1)" stop-opacity="0.931666" />
                    <stop offset="1" />
                </linearGradient>
                <linearGradient id="paint4_linear_226_538" x1="281.894" y1="662.275" x2="281.894" y2="823.975"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4D88DA" />
                    <stop offset="0.557292" stop-color="#39CB82" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint5_linear_226_538" x1="281.894" y1="662.275" x2="281.894" y2="823.975"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0" />
                    <stop [attr.offset]="getPositionForPage(1, 0.0001, 1)" />
                </linearGradient>
        
                <!-- SATELLITE 2 -->
                <linearGradient id="paint6_linear_226_538" x1="1244.39" y1="514.155" x2="1244.39" y2="595.096"
                    gradientUnits="userSpaceOnUse">
                    <stop [attr.offset]="getPositionForPage(0, 0.9999, 1)" stop-color="#DA4DBE" />
                    <stop [attr.offset]="getPositionForPage(0.851666, 1, 1)" stop-color="#396ACB" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint7_linear_226_538" x1="1244.39" y1="514.155" x2="1244.39" y2="595.096"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4D88DA" />
                    <stop offset="0.557292" stop-color="#39CB82" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="paint8_linear_226_538" x1="1244.39" y1="514.155" x2="1244.39" y2="595.096"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="0" />
                    <stop [attr.offset]="getPositionForPage(1, 0.0001, 1)" />
                </linearGradient>
            </defs>
        </svg>
        
        <div class="stars">
            @for (star of updateStarsPositions(); track star) {
                <div [ngStyle]="star" class="star"></div>
            }
        </div>

        <div class="landing-title">
            <div>
                <p [ngStyle]="{
                    'width': getPositionForPage(325, 0, 2) + 'px', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">CREATE</p>

                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">WITH</span>
            </div>

            <div>
                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">LOVE</span>

                <p [ngStyle]="{
                    'width': getPositionForPage(430, 0, 2) + 'px', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">ANYTHING</p>
            </div>
        </div>

        <div [ngStyle]="fixToPage(4)" class="projects">
            <div class="heading">
                <p class="title">{{displayTexts[0]}}</p>

                <div>
                    <p class="description">A SELECTION OF</p>
                    <p class="description">OUR MOST LOVED</p>
                    <p class="description">AND PASSIONATE WORK.</p>
                </div>
            </div>

            <div class="items-grid">
                @for (project of PROJECTS; track $index) {
                    <div class="item">
                        <div class="illustration"></div>
                        
                        <p class="tags">{{project.tags}}</p>
                        <p class="title">{{project.name}}</p>
                    </div>
                }
            </div>
        </div>

        <!-- <p style="position: absolute;">{{getPositionForPage(100, 0, 3)}}</p> -->

        <div [ngClass]="{'band-title-hide': currentPageIndex > 3}" class="band-title">EXPLORE THE LIMITS OF IMAGINATION • CREATE IMMERSIVE EXPERIENCES • ALWAYS WITH LOVE</div>
    </div>
</div>