<div class="canvas">
    <div class="presented">
        <app-scrollbar [scrollPosition]="scrollPosition" [numberOfPage]="9"></app-scrollbar>

        <!-- PLANETS-1 -->
        <div [ngStyle]="updatePlanet()" class="planets-1">
            <svg [ngStyle]="moveByMouseOffset('planet-1', 0.07)" class="planet-1" width="1357" height="909" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="700.1" cy="454.5" transform="rotate(-59 700 455)" fill="#000" r="330" />
                <g filter="url(#a)">
                    <circle cx="700.1" cy="454.5" transform="rotate(-59 700 455)" fill="url(#b)" fill-opacity=".6"
                        r="330" />
                </g>
                <g filter="url(#c)">
                    <path d="M373 393c71 43 144 81 231 121 142 65 277 113 390 140M575 148a2415 2415 0 0 1 468 233"
                        stroke="#000" stroke-width="29" />
                </g>
                <g filter="url(#d)">
                    <path
                        d="M385 351c73 43 130 69 219 110 154 71 282 117 400 143m0-299c-84-54-153-90-264-141-40-18-49-23-88-38"
                        stroke="#000" stroke-width="11" />
                </g>
                <g filter="url(#e)">
                    <path
                        d="M1252 713c-8 16-30 27-67 30-36 3-85-1-143-13-115-22-267-73-426-146-160-73-297-154-390-227-47-36-82-70-103-100-22-29-29-53-21-70 8-16 30-27 66-30 37-3 85 1 143 13 116 23 267 73 427 146s297 154 390 227c46 36 82 70 103 100 22 29 28 53 21 70Z"
                        stroke="#1A1E24" stroke-width="8.8" />
                </g>
                <g filter="url(#f)">
                    <path
                        d="M1282 726c-8 18-31 29-70 33-38 4-89-1-150-12-122-24-282-77-449-153-168-77-312-163-410-240-49-38-86-74-108-106-22-31-29-56-21-74s32-30 70-33c39-4 90 0 151 12 122 23 281 76 449 153s312 163 410 239c48 39 85 75 108 106 22 32 29 57 20 75Z"
                        stroke="#1A1E24" stroke-width="10" />
                </g>
                <g filter="url(#g)">
                    <path
                        d="M1223 699c-3 7-9 12-20 16-10 5-23 7-40 8-34 1-80-4-135-17-110-24-254-73-406-143-153-70-285-146-375-213-45-34-79-65-100-91-10-14-18-26-21-36-4-10-4-19-1-26 3-6 10-12 20-16s24-6 41-7c34-2 80 4 134 16 110 24 254 74 407 144 152 69 284 146 374 213 45 33 79 64 100 91 11 13 18 25 22 36 3 10 3 18 0 25Z"
                        stroke="#070707" stroke-width="9.9" />
                </g>
                <g filter="url(#h)">
                    <path
                        d="M1205 690c-3 6-9 10-19 14-10 3-23 5-39 5-32 1-76-5-129-18-105-25-244-74-392-141-148-68-276-141-363-204-44-32-78-61-99-86-10-12-17-23-21-33s-4-17-1-23c2-6 8-11 18-15 10-3 23-5 39-5 33-1 77 6 129 18 106 25 245 74 392 142 148 67 276 140 364 203 43 32 77 61 98 86 11 12 18 24 21 33 4 10 4 18 2 24Z"
                        stroke="#070707" stroke-width="7.9" />
                </g>
                <g filter="url(#i)">
                    <ellipse cx="734.6" cy="384.2" rx="238.6" ry="344" transform="rotate(-59 735 384)" fill="#000" />
                </g>
                <g filter="url(#j)">
                    <circle cx="700.1" cy="454.5" transform="rotate(-59 700 455)" fill="url(#k)" fill-opacity=".5"
                        r="330" />
                </g>
                <g filter="url(#l)">
                    <circle cx="700.1" cy="454.5" transform="rotate(-59 700 455)" fill="url(#m)" r="330" />
                </g>
                <defs>
                    <filter id="a" x="365.1" y="119.5" width="670.1" height="670.1" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="c" x="353.3" y="122.4" width="709.4" height="557.6" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="d" x="370.4" y="108.8" width="647.9" height="512.1" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="e" x="82.8" y="139.8" width="1188.1" height="620.5" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="5.9" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="f" x="44.3" y="112.9" width="1268" height="673.8" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="10.8" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="g" x="109.6" y="160.1" width="1129.3" height="576.4" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="4.3" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="h" x="123.8" y="167.8" width="1098.6" height="557.6" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="6" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="i" x="339.4" y="37.5" width="790.5" height="693.5" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="38" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="j" x="349.5" y="103.9" width="701.3" height="701.3" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <filter id="l" x="349.5" y="103.9" width="701.3" height="701.3" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_566_101918" />
                    </filter>
                    <linearGradient id="b" x1="700.1" y1="124.5" x2="700.1" y2="784.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#724DDA" />
                        <stop offset="1" stop-color="#39B9CB" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="k" x1="700.1" y1="124.5" x2="700.1" y2="784.5" gradientUnits="userSpaceOnUse">
                        <stop [attr.offset]="getPositionForPage(0, 0.2, 1)" stop-color="#7544FF" />
                        <stop [attr.offset]="getPositionForPage(0.8, 1, 1)" stop-color="#00E0FF" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="m" x1="700.1" y1="124.5" x2="700.1" y2="784.5" gradientUnits="userSpaceOnUse">
                        <stop [attr.offset]="getPositionForPage(0.5, 0, 1)" stop-opacity="0" />
                        <stop [attr.offset]="getPositionForPage(1, 0, 1)" />
                    </linearGradient>
                </defs>
            </svg>

            <svg [ngStyle]="moveByMouseOffset('sat-1', 0.4)" class="planet-1-satellite-1" width="223" height="224" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="111.3" cy="112.1" r="80.8" transform="rotate(-59 111 112)" fill="#000" />
                <g filter="url(#1)">
                    <circle cx="111.3" cy="112.1" r="80.8" transform="rotate(-59 111 112)" fill="url(#2)"
                        fill-opacity=".6" />
                </g>
                <g filter="url(#3)">
                    <circle cx="111.3" cy="112.1" r="80.8" transform="rotate(-59 111 112)" fill="url(#4)"
                        fill-opacity=".5" />
                </g>
                <g filter="url(#5)">
                    <circle cx="111.3" cy="112.1" r="80.8" transform="rotate(-59 111 112)" fill="url(#6)" />
                </g>
                <defs>
                    <linearGradient id="2" x1="111.3" y1="31.2" x2="111.3" y2="192.9" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4D88DA" />
                        <stop offset=".9" stop-color="#39CB82" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="4" x1="111.3" y1="31.2" x2="111.3" y2="192.9" gradientUnits="userSpaceOnUse">
                        <stop [attr.offset]="getPositionForPage(0, 1, 1)" stop-color="#4D88DA" />
                        <stop [attr.offset]="getPositionForPage(0.6, 1, 1)" stop-color="#39CB82" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="6" x1="111.3" y1="31.2" x2="111.3" y2="192.9" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0" />
                        <stop [attr.offset]="getPositionForPage(1, 0, 1)" />
                    </linearGradient>
                    <filter id="1" x="25.5" y="26.2" width="171.7" height="171.7" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_566_101930" />
                    </filter>
                    <filter id="3" x="16.5" y="17.2" width="189.7" height="189.7" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_566_101930" />
                    </filter>
                    <filter id="5" x="16.5" y="17.2" width="189.7" height="189.7" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_566_101930" />
                    </filter>
                </defs>
            </svg>

            <svg [ngStyle]="moveByMouseOffset('sat-2', 0.4)" class="planet-1-satellite-2" width="112" height="113" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="55.7" cy="56.5" r="40.5" transform="rotate(-59 56 56)" fill="#000" />
                <g filter="url(#a1)">
                    <circle cx="55.7" cy="56.5" r="40.5" transform="rotate(-59 56 56)" fill="url(#b2)"
                        fill-opacity=".6" />
                </g>
                <g filter="url(#c3)">
                    <circle cx="55.7" cy="56.5" r="40.5" transform="rotate(-59 56 56)" fill="url(#d4)"
                        fill-opacity=".5" />
                </g>
                <g filter="url(#e5)">
                    <circle cx="55.7" cy="56.5" r="40.5" transform="rotate(-59 56 56)" fill="url(#f6)" />
                </g>
                <defs>
                    <linearGradient id="b2" x1="55.7" y1="16" x2="55.7" y2="96.9" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#DA4DBE" />
                        <stop offset=".9" stop-color="#396ACB" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="d4" x1="55.7" y1="16" x2="55.7" y2="96.9" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4D88DA" />
                        <stop offset=".6" stop-color="#39CB82" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="f6" x1="55.7" y1="16" x2="55.7" y2="96.9" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0" />
                        <stop [attr.offset]="getPositionForPage(1, 0, 1)" />
                    </linearGradient>
                    <filter id="a1" x="10.3" y="11" width="91" height="91" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_566_101913" />
                    </filter>
                    <filter id="c3" x="1.3" y="2" width="109" height="109" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_566_101913" />
                    </filter>
                    <filter id="e5" x="1.3" y="2" width="109" height="109" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_566_101913" />
                    </filter>
                </defs>
            </svg>
        </div>

        <!-- Landing Title -->
        <div class="landing-title">
            <div>
                <p [ngStyle]="{
                    'width': getPositionForPage(325, 0, 2) + 'px', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">CREATE</p>

                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">WITH</span>
            </div>

            <div>
                <span [ngStyle]="{'opacity': getPositionForPage(1, 0, 3)}">LOVE</span>

                <p [ngStyle]="{
                    'width': getPositionForPage(430, 0, 2) + 'px', 
                    'opacity': getPositionForPage(1, 0, 2)
                }">ANYTHING</p>
            </div>
        </div>

        <!-- Raining Stars -->
        @for (star of updateStarsPositions(); track star) {
        <div [ngStyle]="star" class="star"></div>
        }

        <!-- Projects Highlight -->
        <div [ngStyle]="fixToPage(4)" class="projects">
            <div class="heading">
                <p class="title">OUR PROJECTS</p>

                <div>
                    <p class="description">A SELECTION OF</p>
                    <p class="description">OUR MOST LOVED</p>
                    <p class="description">AND PASSIONATE WORK.</p>
                </div>
            </div>

            <div class="items-grid">
                @for (project of PROJECTS; track $index) {
                <div 
                    #tracking 
                    (mousemove)="updateImagePerspective($event, $index)"
                    (mouseleave)="resetImagePerspective($index)" 
                    class="item"
                >

                    <div class="illustration">
                        <img [ngStyle]="{'transform': transformStyles[$index]}" [src]="project.image" alt="">

                        <div class="select-hover-container">
                            <div class="select-hover"></div>
                            <img class="arrow-icon" src="icons/arrow.svg" alt="">
                        </div>
                    </div>

                    <p class="tags">{{ project.tags }}</p>
                    <p class="title">{{ project.name }}</p>
                </div>
                }
            </div>

            <div class="button">
                <span>SEE ALL PROJECTS</span>
            </div>

        </div>

        <!-- STARS BACKGROUND -->
        <img [ngStyle]="{'opacity': getPositionForPage(1, 0, 2)}" class="star-background-img"
            src="images/stars.jpg" alt="">

        <img [ngStyle]="{'opacity': getPositionForPage(0, 1, 5)}" class="star-background-img" src="images/stars.jpg"
            alt="">

        <!-- PLANETS-2 -->
        <div [ngStyle]="{'opacity': getPositionForPage(0, 1, 5)}" class="planets-2">
            <!-- PLANET 2: SVG LIGHTNING -->
            <svg class="planet-2-lightning" viewBox="0 0 756 756" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_603_264)">
                    <circle cx="378.029" cy="377.897" r="330" transform="rotate(99.0704 378.029 377.897)"
                        fill="url(#paint0_linear_603_264)" fill-opacity="0.44" />
                </g>
                <g filter="url(#filter1_f_603_264)">
                    <circle cx="378.029" cy="377.897" r="330" transform="rotate(99.0704 378.029 377.897)"
                        fill="url(#paint1_linear_603_264)" />
                </g>
                <defs>
                    <filter id="filter0_f_603_264" x="27.38" y="27.2486" width="701.297" height="701.297"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_603_264" />
                    </filter>
                    <filter id="filter1_f_603_264" x="27.38" y="27.2486" width="701.297" height="701.297"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="10.3" result="effect1_foregroundBlur_603_264" />
                    </filter>
                    <linearGradient id="paint0_linear_603_264" x1="378.029" y1="47.8974" x2="378.029" y2="707.897"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#AAB8FF" />
                        <stop offset="0.746666" stop-color="#FF0004" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_603_264" x1="378.029" y1="47.8974" x2="378.029" y2="707.897"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0" />
                        <stop [attr.offset]="getPositionForPage(0.01, 1, 6)" />
                    </linearGradient>
                </defs>
            </svg>

            <!-- PLANET 2: BASE COLOR -->
            <img class="planet-2-base-color" src="images/planet2-basecolor.png">

            <!-- SATELLITE: SVG -->
            <svg class="planet-2-satellite" viewBox="0 0 125 125" xmlns="http://www.w3.org/2000/svg">
                <circle cx="62.3" cy="62.3" r="48.1" transform="rotate(99 62 62)" />
                <g filter="url(#A)">
                    <circle cx="62.3" cy="62.3" r="48.1" transform="rotate(99 62 62)" fill="url(#B)"
                        fill-opacity=".4" />
                </g>
                <g filter="url(#C)">
                    <circle cx="62.3" cy="62.3" r="48.1" transform="rotate(99 62 62)" fill="url(#D)"
                        fill-opacity=".4" />
                </g>
                <g filter="url(#E)">
                    <circle cx="62.3" cy="62.3" r="48.1" transform="rotate(99 62 62)" fill="url(#F)" />
                </g>
                <defs>
                    <linearGradient id="B" x1="62.3" y1="14.2" x2="62.3" y2="110.4" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4D88DA" />
                        <stop offset=".7" stop-color="#CB8539" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="D" x1="62.3" y1="14.2" x2="62.3" y2="110.4" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EB6A15" />
                        <stop offset=".7" stop-color="#CB393C" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="F" x1="62.3" y1="14.2" x2="62.3" y2="110.4" gradientUnits="userSpaceOnUse">
                        <stop stop-opacity="0" />
                        <stop [attr.offset]="getPositionForPage(0.01, 1, 6)" />
                    </linearGradient>
                    <filter id="A" x="9.1" y="9.1" width="106.3" height="106.3" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="2.5" result="effect1_foregroundBlur_612_267" />
                    </filter>
                    <filter id="C" x=".1" y=".1" width="124.3" height="124.3" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_612_267" />
                    </filter>
                    <filter id="E" x=".1" y=".1" width="124.3" height="124.3" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="7" result="effect1_foregroundBlur_612_267" />
                    </filter>
                </defs>
            </svg>
        </div>

        <p [ngStyle]="{
            'opacity': getPositionForPage(0,1,7),
            'letter-spacing': getPositionForPage(20,1,7) + 'px',
        }" class="title2">
            CRAFTING IDEAS <br> TO UNIQUE <br> EXPERIENCES
        </p>

        <div class="paraph">
            <p class="one">
                LOREM IPSUM BLA BLA. WE <br> CAN DO WHAT EVER YOU <br> WANTED TO DO
            </p>
            
            <p>
                YES IT IS POSSIBLE <br> WITHOUT LIMITLESS
            </p>
        </div>

        <div class="band-title">EXPLORE THE LIMITS OF IMAGINATION • CREATE IMMERSIVE EXPERIENCES • ALWAYS WITH LOVE
        </div>
    </div>
</div>