.projects {
    position: absolute;
    width: 100vw;
    padding-inline: 60px;
    transition: all var(--transition-time) ease-in-out;
    transform: translateX(0);
    opacity: 1;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all var(--transition-time) ease-in-out;
        transform: translateX(0);

        .title {
            font-size: 6vw;
        }

        .description {
            font-size: 1.5vw;
            text-align: right;
        }
    }

    .items-grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        transition: all calc(var(--transition-time) * 2) ease-in-out;
        transform: translateX(0);

        .item {
            width: calc(50% - 30px);
            opacity: 0;
            cursor: pointer;

            .illustration {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                aspect-ratio: 16/9;
                background-color: black;
                margin-bottom: 20px;
                overflow: hidden;
                border-radius: 25px;

                img {   
                    width: 120%;
                }
            }

            .tags {
                font-size: 1.3vw;
            }

            .title {
                opacity: 0;
                font-size: 2.1vw;
            }

            .blur {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &:hover .blur {
                animation: blury .5s ease-in-out;
            }
        }

        .select-hover-container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.9);
            width: 100px;
            height: 100px;
            background-color: transparent;
            mix-blend-mode: exclusion;
            opacity: 0;
            transition: all 0.15s ease-in-out;
        }

        .select-hover {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            border-radius: 100%;
            mix-blend-mode: exclusion;
        }

        .arrow-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50% !important;
            transform: translate(-50%, -50%) scale(0.8);
        }

        .item:hover .select-hover-container {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        .item-active {
            animation: project-show 0.5s ease-in-out forwards;

            .project-thumbnail {
                animation: project-show2 0.5s ease-in-out;
            }

            .title {
                animation: project-show3 0.5s ease-in-out forwards;
                animation-delay: 0.1s;
            }
        }
    }
}

@keyframes blury {
    0% {
        backdrop-filter: blur(0px);
    }

    30% {
        backdrop-filter: blur(5px);
    }

    100% {
        backdrop-filter: blur(0px);
    }
}

@keyframes project-show {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes project-show2 {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes project-show3 {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation: lolo var(--transition-time) ease-in-out forwards;
    z-index: 10000;
    pointer-events: none;
}

@keyframes lolo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.anim-fader {
    animation: lala var(--transition-time) ease-in-out forwards;
}

@keyframes lala {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.anim {
    opacity: 0;

    .fader {
        display: block;
    }

    .heading {
        transform: translateX(-300px);
    }

    .items-grid {
        transform: translateX(-400px);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.projects:not(.anim) {
    animation: slideInFromLeft var(--transition-time) ease-in-out;
}

.button {
    position: relative;
    width: fit-content;
    border: 1.5px solid white;
    padding: 15px;
    padding-inline: 40px;
    border-radius: 100px;
    font-size: 1.2vw;
    cursor: pointer;
    transition: all 0.10s ease-in-out;
    margin: auto;
    margin-top: 200px;
}