<div [ngStyle]="{'--transition-time': TRANSITION_TIME_MILLISECOND + 'ms'}">
    <div [ngClass]="{'anim': animateSliding}" class="projects">

        <div class="heading">
            <p class="title">OUR PROJECTS</p>

            <div>
                <p class="description">A SELECTION OF</p>
                <p class="description">OUR MOST LOVED</p>
                <p class="description">AND PASSIONATE WORK</p>
            </div>
        </div>

        <div class="items-grid">
            @for (project of displayedProjects; track $index) {
            <div #tracking (mousemove)="updateImagePerspective($event, $index)"
                (mouseleave)="resetImagePerspective($index)" (click)="openProject($index)" class="item">

                <div class="illustration">
                    <div class="blur"></div>
                    <img class="project-thumbnail" [ngStyle]="{'transform': transformStyles[$index]}" [src]="project.thumbnail" [alt]="project.title" loading="lazy">

                    <div class="select-hover-container">
                        <div class="select-hover"></div>
                        <img class="arrow-icon" src="icons/arrow.svg" alt="">
                    </div>
                </div>

                <p class="tags">{{ project.tags }}</p>
                <p class="title">{{ project.title }}</p>
            </div>
            }
        </div>

        <div (click)="navigateTo('/projects')" class="button">
            <span>SEE ALL PROJECTS</span>
        </div>
    </div>
    <!-- <div [ngClass]="{'anim-fader': animateSliding}" class="fader"></div> -->
</div>
